* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --side-margin: 0.5rem;
}

h1 {
  text-align: center;
  padding: 2rem var(--side-margin);
  font-size: clamp(2.2rem, 10vmin, 4rem);
  line-height: clamp(2.2rem, 10vmin, 4rem);
}

main {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  --breakpoint: 1200px;
  max-width: calc(var(--breakpoint) + 400px);
  --modifier: calc((var(--breakpoint) - 100%) * 999);
}

/* ==================================================================================================== CATEGORIES */

main > section {
  text-align: center;
  margin: 0 var(--side-margin) 20px var(--side-margin);
  flex-basis: max(calc(33.333% - var(--side-margin) * 2), var(--modifier));
}

main > section > h2 > span {
  display: inline-block;
}

main > section > .content-container {
  list-style: none;
  /* set through JS: */
  padding: 0;
  max-height: 0;
  opacity: 0;
}

main > section > .content-container > li {
  max-width: max-content;
  padding: 1rem;
  text-align: left;
  margin-left: 4rem;
}

main > section > .content-container .nav-button {
  cursor: pointer;
}
