@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap");

:root {
  --bg-clr: hsl(0, 0%, 95%);
  --txt-clr: hsl(0, 0%, 5%);
  --btn-bg-clr: hsl(0, 0%, 85%);
}

* {
  font: 400 1rem Montserrat, sans-serif;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
  user-select: none;
}

h1 {
  font-weight: 100;
  letter-spacing: -1px;
}

main > section > h2 > span {
  transition: transform 150ms;
}

main > section > .content-container {
  transition: max-height 200ms, padding 200ms, opacity 100ms;
}

.nav-button,
.nav-button > span {
  transition: line-height 200ms, transform 200ms, background-color 100ms;
  background-color: var(--btn-bg-clr);
  color: var(--txt-clr);
}

.nav-button:hover,
.nav-button:hover > span {
  background-color: var(--txt-clr);
  color: var(--btn-bg-clr);
}

main > section > h2,
main > section > h2 > span {
  background-color: var(--btn-bg-clr);
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}
